body{
	background:url("../Imagenes/dust_scratches.png");
	margin:0 auto;
	padding: 0;
}
#contenedor{
	margin: auto;
	max-width: 1360px;
	width: 90%;
	}
/*cabecera*/
header{
	background:rgb(68,68,68);
	box-sizing:border-box;
	height:100px;
	position:fixed;
	top:0px;
	width: 90%;
	}
	header #btn-menu{
		display:none;
	}
	header label{
		display: none;
	}
	#marca{
		margin-left:auto;
		margin-right:auto;
		margin-top:5px;
		width:440px;
	}
	.logo{
		background:url(../Imagenes/Logo.png);
		background-repeat:no-repeat;
		display:inline-block;
		height: 47px;
		text-indent:-3000px;	
		width:438px;
		}
	#redes{
		float:right;
		margin-right:14px;
		margin-top:-85px;
	}
	.socmed{
	color:rgb(226,226,226);
	font-size:25px;
	margin-right:10px;
	margin-top:7px;
	float:right;
	transition:0.4s;
	}
	.socmed:hover{
		color:rgba(232, 105, 0, 0.99);
	    }

/*contenedor general primero*/
 nav{ 
 	 margin-top:-9px;
 	 text-align:center;
 	/*margin-left:-50px: colocada aca mueve la caja nav hacia izquierda o derecha y arrastra al menu*/
 	}  	
  	/*es un ul contenedor del menu principal*/
 	nav #menuprincipal{
 		list-style-type:none;
 		padding:0px;
 		position:fixed;
 		width: 100.6%;
 		/*colocado aca mueve hacia izquierda o derecha solo todo el menu principal respetando sus margenes que estan en el selector li*/	
		}
 		/*estilos del menu principal*/
 		nav #menuprincipal .li{
 			background:rgb(68,68,68);
  			float:left; 
 			margin-right:1.1%;
 			position:relative;
 			width:14%;
 			}
 			/*estilos del hipervinculo*/
 			nav #menuprincipal .li a{
 				color:rgb(226,226,226);
 				display:block;								
 			    font-family:"Yu Gothic Ui light", "Homizio light", "Homizio Nova Light";
 				font-weight:bold;
 				height: 28px;
 				padding-top:5px;
 				text-decoration:none;
 				transition:0.3s; 				
 				}
 				/*efectos sobre el hipervinculo*/
 				nav #menuprincipal .li a:hover{
 					background:rgb(62,62,62) ;
 					color:rgba(232,105,0, 0.99);
				    }
 				nav #menuprincipal .li .arrow{
 					display: none;
 				}
 				/*estilos sobre el contenedor de las listas secundarias*/ 
 				nav #menuprincipal .li ul{
 					background:rgb(68,68,68);
 					box-sizing:border-box;
 					display:none;
 					list-style-type:none;
 					position:absolute;
 					width: 148px;
 				    }
 				/*efecto que se da cuando hago click sobre el menu principal y afecta tanto al menu secundario como a los siguientes*/					
				    
				nav #menuprincipal .li ul li{
					margin-left: -40px;
					}   
				nav #menuprincipal .li:hover ul{
 					display:block;
 				    }
 				nav #menuprincipal .li ul li a{
 					font-weight: normal;
 				}				
 				    
 /*contenedor general*/					    
 #wrapper{
 	background:rgb(68,68,68);
 	box-sizing:border-box;
 	float:left;
 	margin-bottom:8px;
 	margin-top:137px;
 	padding-left:29px; 
 	padding-right:29px;
  	width:83.2%;
 	}
 	
	article h2{
		color:rgba(232, 105, 0, 0.99);
		font-family:"Homizio light", "Homizio Nova Light","Homizio Nova";
		font-weight:400;
		letter-spacing:0.1px;
		margin-top:17px;
		margin-bottom:-10px;
		}
	#hr{
		/*modificado*/
		margin-bottom:-7px;
	    }
	article h3{
		color:rgba(232, 105, 0, 0.99);
		font-family:"Homizio light","Homizio Nova Light", "Homizio Nova";
		font-size:22px;
		letter-spacing:1.5px;
		margin-bottom:-19px;
		}
	article p{
		color:rgb(226,226,226);
		font-family:"Homizio Nova", "Homizio Nova Light";	
		letter-spacing:0.4px;	
		}
		#imagen1{
			border:solid 0.9px;
			box-sizing: border-box;
			color:rgb(226,226,226);
			margin-left:auto;
			padding:65px;
			margin-right:auto;
			text-align:center;
			width:80%;
		}
		#imagen2{
			border:solid 0.9px;
			box-sizing: border-box;
			color:rgb(226,226,226);
			margin-left:auto;
			padding: 65px;
			margin-right:auto;
			text-align:center;
			width:80%;
		}
	article h4{
		color:rgba(232,105,0, 0.99);
		font-family:"Homizio light","Homizio Nova Light", "Homizio Nova";
		font-weight:600;
		font-size:18px;
		letter-spacing:1.2px;
		margin-top:25px;
		margin-bottom:-15px;
	}
	audio{
			display: block;
			margin: auto;		
			text-align:center;
			width: 50%;
	}
	#tiposdeoboe{
       /*text-indent:-25px:ver si es esta propiedad para dar sangria a las listas*/
	   color:rgba(232, 105, 0, 0.99);
	   padding-left:15px;
	   }
	#tiposdeoboe li{
		padding-left:5px;
		}
	video{
		width:100%;
		margin-bottom:45px;	
		}
aside{
	float:right;
	width: 16%;
	margin-top:137px;
	margin-right:0px;
	}
	img{
		width: 100%;
	}
	footer{
		background:rgb(68,68,68);
		box-sizing:border-box;
		clear:both;
		color:rgb(226,226,226);
		font-family:"Yu gothic UI light", "Homizio light", "Homizio Nova Light";
		font-size:17px;
		height:70px;
		padding-top:10px/*este se aplica incluso al redsoc(porque es un valor en general)*/
	    }
	    #box{
	    	display:block;
	    	margin-left:14px;
	    	margin-top: 13px;
	    	height:32px ;
	    	width: 120px;
	    	
	    }
		.redsoc{
		color:rgb(226,226,226);
		font-size:25px;		
		padding-right: 7px;
		transition:0.4s;
		}
		.redsoc:hover{
			color:rgba(232,105,0, 0.99);
			}
	span{		
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: -30px;
		width:290px;
		}

		/*Media Queries*/
		/*Móviles*/
		@media screen and (min-width: 0px) and (max-width: 480px) {
			#contenedor{
				width: 100%;
			}
			header{
				height: 50px;
				width: 100%;
			}
			header label{
				border:solid 1px rgb(226,226,226);
				box-sizing: border-box;
				color: rgb(226,226,226);
				display: block;
				margin-left: 14px;
				margin-top: 13px;
				padding-bottom: 1.5px;
				padding-left: 4.5px;
				padding-right: 5px;
				padding-top: 2.5px;
				position: absolute;
				}
			#btn-menu:checked ~ nav #menuprincipal{
				transform:translateX(0%);
			}
			header #marca{
				height: 30px;
				margin-top:0px;	
				width: 210px;
			}
			 .logo{		 	
				background: url("../Imagenes/logo_responsive.png");
				background-repeat: no-repeat;
				height: 20px;
				margin-top: 15px;
				width: 210px;			
			}
			header .socmed{
				display: none;
			}
			nav{
				margin-top: 2px;
				text-align: left;
			}
			nav #menuprincipal{
				margin-top: 21px;
				transform:translateX(-100%);
				transition: 0.1s;
			} 
			nav #menuprincipal .li{
				background: rgb(62,62,62);
				float: none;
				width: 70%;
			}
			nav #menuprincipal .li a{
				padding-left: 17px;
			}
			nav #menuprincipal .li .arrow{
 					display: block;
 					float: right;
 					margin-top: 5px;
 					margin-right: 16px;
 				}
			nav #menuprincipal .li a:hover{
				background: rgb(62,62,62);
				color: rgb(226,226,226);
			}
			nav #menuprincipal .li ul{
				background: rgb(68,68,68);
				margin-left: 12%;
				position:static;
				width: 88%;
				}
				nav #menuprincipal .li:hover ul{
 					display:none;
 				    }
			nav #menuprincipal .li ul li a{
				display: block;
				width: auto;
				}
			nav #menuprincipal .li ul li a:hover{
				background: rgb(68,68,68);
				}	
			aside{
				float: none;
				width: 100%;
			}		
			#wrapper{
				width: 100%;
				margin-top: -85px;	
			}
			#wrapper article h3{
				color: rgba(232, 105, 0, 0.99);			
				font-weight:900;
				letter-spacing: 1px;
			}
			audio{
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				z-index:0;
			}
			footer{
				font-family:"Yu gothic UI light", "Homizio light", "Homizio Nova Light";
				height: auto;
				padding-bottom: 11px;
				padding-left:21px;
				padding-right: 21px;
				text-align: center;
				}
			footer #box{
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0px;
				margin-top: 0px;
				padding-left: 7px;
				width: 100px;
			}
			footer .redsoc:hover{
				color:rgb(226,226,226);
			}
			footer span{
				display: inline;
				}
		}
		/*tablets*/
		@media screen and (min-width: 481px) and (max-width:768px){
			#contenedor{
				width: 100%;
			}
			header{
				height: 50px;
				width:100%;
			}
			header label{
				border: solid 1px rgb(226,226,226);
				box-sizing: border-box;
				color: rgb(226,226,226);
				display: block;	
				height: 22px;
				margin-left: 14px;
				margin-top: 14px;
				padding-left: 4px;
				padding-top: 1px;
				position: absolute;
				width: 23.5px;
			}
			#btn-menu:checked ~ nav #menuprincipal{
				transform: translateX(0%);
			}
			header #marca{
				height: 20px;
				margin-bottom: 52px;
				margin-top: 15px;
				width: 210px;
			}
			header .logo{
				background: url(../Imagenes/logo_responsive.png);
				background-repeat: no-repeat;
				height: 19px;
				margin-top: 0;
				width: 208px;
			}
			#redes{
				display: none;
			}
			nav{
				margin-top: -34px;
			}
			nav #menuprincipal{
				margin-top: 0;
				text-align: left;
				transform: translateX(-100%);
				transition: 0.1s;
			}
			nav #menuprincipal .li{
				background: rgb(62,62,62);
				float: none;
				width: 70%;
			}
			nav #menuprincipal .li a{
				padding-left: 19px;
			}
			nav #menuprincipal .li .arrow{
				display: block;
				float: right;
				margin-right: 16px;
				margin-top: 4px;
			}
			nav #menuprincipal .li a:hover{
				color: rgb(226,226,226);
			}
			nav #menuprincipal .li ul{
				margin-left: 12%;
				position: static;
				width: 88%;
			}
			nav #menuprincipal .li:hover ul{
				display: none;
			}
			nav #menuprincipal .li ul li a:hover{
				background: rgb(68,68,68);
			}
			#wrapper{
				margin-top: -85px;
				width: 100%;
			}
			audio{
				display: block;
				margin: auto;
				width: 100%;
			}
			aside{
				float: none;
				width: 100%;
			}
			footer #box{
				margin-left: auto;
				margin-right: auto;
				margin-top: 0;
				margin-bottom: 30px;
				padding-left: 25px;
			}
			.redsoc:hover{
				color: rgb(226,226,226);
			}
		
		
	








	